@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=9621D489-1B5B-4863-BC4D-B89EC8DC45C4

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:username=token
//npm.fontawesome.com/:_password=9621D489-1B5B-4863-BC4D-B89EC8DC45C4
